*{
    font-family: Arial;
}
#baner-lewy, #baner-srodek, #baner-prawy, #stopka-lewy, #stopka-srodek, #stopka-prawy{
    background-color:  SaddleBrown;
    color: white;
    height: 100px;
}
#baner-lewy, #stopka-lewy{
    width: 55%;
    font-size: 120%;
    float: left;
}
#baner-srodek, #stopka-srodek{
    width: 25%;
    float: left;
}
#baner-prawy, #stopka-prawy{
    width: 20%;
    text-align: right;
    float: left;
}
#glowny{
    background-color: Snow;
    padding: 70px;
    clear: both;
}
a:link{
    border: 2px dotted saddlebrown;
    background-color: snow;
    color: SaddleBrown;
    padding: 20px;
    line-height: 100px;
}
ol{
    list-style-type: lower-alpha;
}